body{

    width: 80%;
    margin: auto;
    background-color: aliceblue;
}

img{

    height: 100px;
    width: auto;
    padding: 10px;

}

.moto1{

    float: right;
    padding: 4px; /*Relleno para situar varios espacios entre la imagen y el texto*/
    margin: 0 7px 2px 0; /* Margen para las fotos*/
    display: inline;
   

}
p{

    margin-bottom: 10px;

}
.moto2{

    float: left;
    display: inline;
    padding-right: 10px;

    
}
a:link{

    text-decoration: none;
    
}
a:visited{

    color: black;

}
a:hover{

    color: red;

}
div.alinear{

    text-align: center;
    

}
.alinear img {

    height: 300px;
    margin-bottom: 30px;

}
.verde{

    color: rgb(9, 247, 9);

}
div.precio{

    background-color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 20px auto 20px auto;
    padding: 3px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 4px;
    border-style: double;
    border-radius: 25px;
    box-shadow: 1px 1px 80px rgb(0, 0, 0); 
    margin-bottom: 50px;
    

}
h2{

text-align: center;

}
div.alinear p {

    display: flex;
    margin-left: 150px;

}

