
body{
    width: 80%;
    margin: auto;
    background-color: bisque;
}

.cabecera{

background-color: blue;
color: white;

}
.buscador{

    width: 40%;
    border: dotted;
    padding: 20px;
    margin: auto;

}
.error{
    color: red;
}