.contenedor{
	border: solid red thin;
	padding: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / 1fr 1fr;
	text-align: center;
	gap: 15px;
	color: white;
}
.cajaRoja{
	grid-column-start: 1;
	grid-column-end: 3;
	border: solid black;
	background-color: red;
}
.cajaOliva{
	grid-column: 1 / 2;
	border: solid black;
	background-color: green;
}
.cajaAzul{
	grid-column: 1 / 2;
	border: solid black;
	background-color: blue;
}
.cajaAmarillo{
	grid-column: 2 / 2;
	grid-row: 2 / 4;
	border: solid black;
	background-color: rgb(236, 138, 1);
}
.cajaCian{
	grid-column: 1 / 2;
	border: solid black;
	background-color: rgb(0, 222, 222);
}
.cajaVerde{
	grid-column: 2 / 2;
	border: solid black;
	background-color: greenyellow;
}
.cajaNegro{
	grid-column-start: 1;
	grid-column-end: 3;
	border: solid black;
	background-color: black;
}