body{

    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    color: black;
    margin: 20px;
    background-color: #dff5fd;

}

h1{

    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: darkblue;
    text-align: center;
    background-color: white;
    /*Boder es todo los bordes*/
    border-top: solid 2px darkblue;
    border-bottom: solid 2px darkblue;
    margin: 20px auto ;
    padding: 2px;
}

h2{

    font-size: 16px;
    font-weight: bold;

}
.DatosPersonales{

    color: darkred;

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 158, 158);
    border: 3px solid;
    /*Margen superior*/
    margin-top: 20px;
    /*Margen inferior*/
    margin-bottom: 20px;
    /*Margin izq*/
    margin-left: auto;
    /*Margin drch*/
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0); 
    padding: 10px;

}
.FormaciónAcademica{

    color: darkblue;

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
    border: 3px dotted;
    /*Margen superior*/
    margin-top: 20px;
    /*Margen inferior*/
    margin-bottom: 20px;
    /*Margin izq*/
    margin-left: auto;
    /*Margin drch*/
    margin-right: auto;
    /*Para redondear bordes*/
    border-radius: 25px;
    /*Sombras de cualquir elemento en este caso del borde*/
    box-shadow: 2px 2px 5px black; 
    padding: 10px;



}
.Timesrojo{

    color: red;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;

}
.Timesverde{

    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 14px;
}