body {
    margin: auto;
    background: rgba(241, 239, 239, 0.645);
    
}

#container {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr ;
    /*segunda opción grid-template: repeat(5 1fr) / 1fr 1fr*/
    width: 85%;
    margin: auto;
    padding: 5px;
    gap: 5px;

}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    background-color: #0D47A1;
    padding: 5px;
}


li{

    list-style: none;
    display: inline;

}
nav {
    grid-column: 1 / 3;
    background-color: #FFFFFF;
    padding: 10px;
   
}
#a1{

    grid-column-start: 1 ;
     /*empieza en la 3 y temina en la 5*/
     grid-row-start: 3;
     grid-row-end: 5;
     background-color: #BBDEFB;
    
    padding: 5px;

}
#a2{

    grid-column-start: 2;
    padding: 8px;
    background-color: #BBDEFB;
   
}
#a3{

    grid-column-start: 2;
    background-color: #BBDEFB;
    padding: 8px;
   

}
footer {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #2196F3;
    padding: 5px;
}





nav h2 {
    color: red;
}

header h2 {
    color: yellow;
}

footer h2 {
    color: white;
}

/* Web responsive */
/* Cuando el tamaño de pantalla sea menor de 400px (o como máximo 400px)
   le quitamos la propiedad display: grid a la clase container que lo engloba todo,
   por display: block. */
@media (max-width: 600px) {
    #container {
        display: block;
    }
}