
body{
    width: 80%;
    margin: auto;
    background-color: bisque;
}

.cabecera{


background-color: blue;
color: white;
padding: 4px;
margin-top: 10px;
margin-bottom: 10px;

}
.buscador{

    width: 40%;
    border: dotted;
    padding: 20px;
    margin: auto;

}
.desplegable{

    border: dotted;
    padding: 20px;
    margin: auto;
    display: block;
    width: 40%;
    margin-top: 20px;

}
.definicion{

    display: inline;


}