
body{

    background-color: rgb(146, 146, 90);
}


h1{
    font-size: 36px;
    color: red;
    background-color: black;
    text-align: center;
    
    padding: 10px;

}
nav {
    
    overflow: hidden;
    background-color: rgb(207, 207, 207);
    margin: 0px 10px 0px 10px;
    font-size: large;
    padding: 10px;
    list-style:none;
    border: solid 2px black;
    padding-left: 0%;
}


nav ul li{

    display: inline;
    
}
ul{
    display: inline;
    
}
a:link{

    
    list-style: none;
    margin: 0px 10px 0px 10px;
    /**display: inline;*/
    color: black;
    /*para quitar la linea del enlace*/
    text-decoration: none;
    padding: 17px;

}
a:visited{

    list-style: none;
    color: black;
    padding: 17px;

}
a:hover{

    
    background-color: red;
    color: white;
    padding: 17px;
    
}