body{
    width: 70%;
    margin: 0 auto;
    background-color: bisque;
}
h1{
    font-size: 100px;
}
.contendor{
    border: solid red thin;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	gap: 15px;
	color: white;
}
.cajaRoja{
	grid-column-start: 1;
	grid-column-end: 1;
	border: solid black;
	background-color: red;
    gap: 5px;
    margin-bottom: 20px;
}
.cajaAmarilla{
    grid-column-start: 2;
	
	border: solid black;
	background-color: yellow;
    margin-bottom: 20px;
}
button{
    margin: auto;
    text-align: center;
    display: block;
    font-size: 30px;
    padding: 6px;
    background-color: rgb(4, 128, 128);
    color: rgb(243, 237, 237);
    margin-bottom: 15px;
}

img{
    height: 800px;
    width: 90%;
    
}


.container2{

    display: grid;
    
    text-align: center;
    
    grid-template: 1fr 1fr 1fr;
    margin-bottom: 30px;
}

.dentro{
    grid-column-start: 1;
	
	border: solid black;
	
    
}
.capa2{
    grid-column-start: 2;
	border: solid black;
    
}
.capa3{
    grid-column-start: 3;
	border: solid black;
    
}


