body{

    
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal black;
    margin: auto;
    background-color: #E9ECFC;
    /*ancho de página*/
    width: 80%;
    
}
h1{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}
h2{

    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: blue;
    text-align: right;
    border-bottom: 2px solid;
    padding: 20px 20px 20px 20px;
    
}
ol{

    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: normal;
    color: blue;
    background-color: yellow;
    border-style: dotted;
    text-align: left;
    /*ancho de la caja*/
    width: 50%;
    margin: 20px 50px 20px 50px;
    padding: 20px 20px 20px 30px;
}
.presupuesto{

    background-color: white;
    font-weight: bold;
    font-size: 24px;
    margin: 20px auto 20px auto;
    padding: 3px;
    text-align: center;

}
.Euros{
    color: red;
    
}
a:link{

   
    /*para quitar la linea del enlace*/
    text-decoration: none;
    padding: 10px;

    

}
a:visited{

   color: red;
    padding: 10px;
    
}
a:hover{

    color: rgb(0, 0, 0);
    padding: 10px;

    
}
.HondaUltimas{

    text-align: center;

}
.Portada{

    text-align: center;


}
.Honda1{

    float: right;
    display: inline;
    padding-left: 10px;
    


}
.Honda2{

    float: left;
    display: inline;
    padding-right: 5px;
    
}
.Justificado{

    text-align: justify;

}

