body{

    
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal black;
    margin: auto;
    background-color: #E9ECFC;
    /*ancho de página*/
    width: 80%;
}
h1{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}
h2{

    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: blue;
    text-align: right;
    border-bottom: 2px solid;
    
    
}
ol{

    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;





}